<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div wicket:id="dateSwitcher"></div>
		<div wicket:id="datePicker"></div>
		<a id="calendarpicker"></a>
		<div id="calendarPanel" wicket:id="calendarPanel" class="smallpanel"></div>
		<div id="addEventPanel">
			<a href="" wicket:id="addEventLink"><wicket:message key="addEventLabel" /></a>
		</div>
		<a id="calendar"></a>
		<div id="calendarViewsTabs" wicket:id="calendarViewPanel" class="calendarView"></div>
	</wicket:extend>
</body>
</html>
