<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 
		Bootstrap the application for development
	-->
	<bean id="databaseBootStrapDao" class="org.webical.dao.hibernateImpl.DatabaseBootstrapDao">
		<property name="objectsToPersist">
			<list>
				<!--
					Order is important! 
					Referenced beans before referers
				-->
				<ref bean="applicationSettings"/>
				<ref bean="fixedUser"/>
				<ref bean="calendar_fixedUser"/>
				<ref bean="userSettings_fixedUser" />
			</list>
		</property>
	</bean>

	<!-- ApplicationSettings -->
	<bean id="applicationSettings" class="org.webical.ApplicationSettings">
		<property name="pluginWorkPath" value="${java.io.tmpdir}" />
		<property name="pluginCleanupEnabled" value="false"/>
		<property name="configurationUsername" value="admin"/>
		<property name="configurationPassword" value="admin"/>
		<property name="calendarRefreshTimeMs" value="60000"/>
	</bean>

	<!-- Add a fixed user for development -->
	<bean id="fixedUser" class="org.webical.User">
	    <property name="userId" value="jag" />
	    <property name="firstName" value="James"/>
	    <property name="lastNamePrefix" value="A"/>
	    <property name="lastName" value="Gosling"/>
	    <property name="birthDate"><ref bean="birthDay" /></property>
	</bean>

    <!-- Birth Date for the fixed user -->
    <bean id="birthDay" class="java.util.Date">
		<constructor-arg><value>May 24, 1977, 00:00:00 GMT</value></constructor-arg>
		<!-- <constructor-arg><value type="long">60242569200000</value></constructor-arg> -->
	</bean>

	<!-- A test calendar for fixedUser -->
	<bean id="calendar_fixedUser" class="org.webical.Calendar">
		<property name="name" value="local_test_calendar"/>
		<property name="type" value="ical-webdav"/>
		<property name="url" value="http://localhost:10202/webical/dav/webical.ics"/>
		<property name="visible" value="true"/>
		<property name="offSetFrom" value="2"/>
		<property name="offSetTo" value="1"/>
		<property name="user"><ref bean="fixedUser"/></property>
	</bean>

	<!-- Settings for the fixed user -->
	<bean id="userSettings_fixedUser" class="org.webical.UserSettings">
		<property name="defaultCalendarView" value="1" />
		<property name="firstDayOfWeek" value="2"/>
		<property name="numberOfAgendaDays" value="4"/>
		<property name="dateFormat" value="dd/MM/yyyy"/>
		<property name="timeFormat" value="HH:mm"/>
		<property name="user"><ref bean="fixedUser"/></property>
	</bean>

</beans>
