<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div id="calendarViewPanel">
			<div id="calendarViewPanelContentBlock">
				<div class="panelContent">
					<div id="userInfoPanel">
						<h1>UserInfo</h1>
						<table cellspacing="0">
							<tr>
								<th><wicket:message key="UserID.label">User ID</wicket:message></th>
								<td wicket:id="userId">(User ID)</td>
							</tr>
							<tr>
								<th><wicket:message key="Firstname.label">Firstname</wicket:message></th>
								<td wicket:id="firstName">(Firstname)</td>
							</tr>
							<tr>
								<th><wicket:message key="Lastnameprefix.label">Lastname prefix</wicket:message></th>
								<td wicket:id="lastNamePrefix">(Lastname prefix)</td>
							</tr>
							<tr>
								<th><wicket:message key="Lastname.label">Lastname</wicket:message></th>
								<td wicket:id="lastName">(Lastname)</td>
							</tr>
							<tr>
								<th><wicket:message key="Birthdate.label">Birthdate</wicket:message></th>
								<td wicket:id="birthdate">(Birthdate)</td>
							</tr>							
						</table>
						
						
					</div>
				</div>
			</div>
		</div>
	</wicket:extend>
</body>
</html>