<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
					<div id="userInfoPanel">
						<form id="calendarAddEditForm" wicket:id="calendarAddEditForm">
							<h1><span wicket:id="headingLabel"></span></h1>
							<div class="formFeedBack" id="formFeedback" wicket:id="formFeedback" ></div>
											
							<div class="formItem">
								<label for="name" ><wicket:message key="Name.label">Name*</wicket:message></label>
								<span class="formElement"><input class="inputText" type="text" id="name" wicket:id="name"/></span>
							</div>
							<div class="formItem">
								<label for="type" ><wicket:message key="Type.label">Type*</wicket:message></label>
								<span class="formElement"><select class="choiceList" name="type" wicket:id="type" id="type"></select></span>
							</div>
							<div class="formItem">
								<label for="url" ><wicket:message key="Url.label">Url*</wicket:message></label>
								<span class="formElement"><input class="inputText" type="text" id="url" wicket:id="url"/></span>
							</div>
							<div class="formItem">
								<label for="username" ><wicket:message key="Username.label">Username</wicket:message></label>
								<span class="formElement"><input class="inputText" type="text" id="username" wicket:id="username"/></span>
							</div>
							<div class="formItem">
								<label for="password" ><wicket:message key="Password.label">Password</wicket:message></label>
								<span class="formElement"><input class="inputPassword" type="password" id="password" wicket:id="password"/></span>
							</div>
							<div class="formItem">
								<label for="offSetFrom" ><wicket:message key="OffSetFrom.label">Timezone</wicket:message></label>
								<span class="formElement"><select class="choiceList" id="offSetFrom" wicket:id="offSetFrom"></select></span>
							</div>
							<div>
								<span class="formElement">
								<!-- All extensions are placed here -->
								<input wicket:id="formExtensions"/>
								</span>
							</div>
							<div class="formButtons">
								<a class="button" id="discardLink" wicket:id="discardLink"><wicket:message key="Discard.label">Discard</wicket:message></a>
								<input class="button" type="submit" id="calendarSubmitButton" wicket:id="calendarSubmitButton"/>
							</div>
						</form>
					</div>

	</wicket:extend>
</body>
</html>