<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<ul id="dateSwitcher">
			<li><a wicket:id="previousLink" id="previousLink"><span><wicket:message key="previous.label">&lt;--</wicket:message></span></a></li>
			<li><a wicket:id="nextLink" id="nextLink"><span><wicket:message key="next.label">--&gt;</wicket:message></span></a></li>
			<li>
				<a class="button" wicket:id="todayLink" id="todayLink"><span><wicket:message key="today.label">today</wicket:message></span></a>	
			</li>
			<li>
				<span wicket:id="rangeLabel" id="rangeLabel">(DateRange)</span>
			</li>
		</ul>
	</wicket:extend>
</body>
</html>