<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
			<div id="dayViewPanelContentHeaderBlock"></div>
			<div id="calendarViewPanel">
				<div id="calendarViewPanelContentBlock">
					<div id="dayViewPanelContent">
						<h1 wicket:id="dayHeadingLabel">Monday</h1>
						<ul class="events">
								<li id="eventItem" wicket:id="eventItem">
									<span wicket:id="eventTime">00:00</span>
									<a href="" wicket:id="eventLink"><span wicket:id="eventTitle">event</span></a>
								</li>
						</ul>	
						<a wicket:id="dayViewAddEventLink" class="addEventLink"><wicket:message key="addevent.label">Add event</wicket:message></a>
						<div class="clr"></div>
					</div>
				</div>
			</div>
	</wicket:extend>
</body>
</html>