<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div id="calendarViewPanel">
			<div id="calendarViewPanelContentBlock">
				<div class="panelContent"> 
					<wicket:panel wicket:id="calendarSettingsPanelContent">(calendarSettingsPanelContent)</wicket:panel>
					<a wicket:id="addCalendarLink" id="addCalendarLink"><wicket:message key="addcalendar.label">Add calendar</wicket:message></a>
				</div>
			</div>
		</div>
	</wicket:extend>
</body>
</html>