<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<h1><wicket:message key="Calendars.label">Calendars</wicket:message></h1>
		<table cellspacing="0" id="calendarListPanel">
			<tr wicket:id="calendarListView">
				<td><strong><span wicket:id="calendarName"></span></strong></td>
				<td><a id="editCalendarLink" wicket:id="editCalendarLink"><wicket:message key="editcalendar.label">edit calendar</wicket:message></a></td>
				<td><a id="removeCalendarLink" wicket:id="removeCalendarLink"><wicket:message key="removecalendar.label">remove calendar</wicket:message></a></td>
			</tr>
		</table>
		<div id="pagingNavigator" wicket:id="pagingNavigator"></div>
	</wicket:extend>
</body>
</html>