<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div id="calendarViewPanel">
				<div id="calendarViewPanelContentBlock">
					<div class="panelContent">
						<div class="message-box">
				
							<p class="message" wicket:id="messageLabel" />
							<a href="" class="button" wicket:id="cancelLink"><wicket:message key="cancelButton.text"></wicket:message></a>
							<a href="" class="button" wicket:id="confirmLink"><wicket:message key="confirmButton.text"></wicket:message></a>
							
						</div>
					</div>
				</div>
			</div>
	</wicket:extend>
</body>
</html>