<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 
		Bootstrap the applciation for demo
	-->
	<bean id="databaseBootStrapDao" class="org.webical.dao.hibernateImpl.DatabaseBootstrapDao">
		<property name="objectsToPersist">
			<list>
				<!-- 
					Order is important! 
					Referenced beans before referers
				-->
				<ref bean="applicationSettings"/>
				<ref bean="demoUser"/>
				<ref bean="calendar_demoUser"/>
				<ref bean="userSettings_demoUser" />
			</list>
		</property>
	</bean>

	<!-- ApplicationSettings -->
	<bean id="applicationSettings" class="org.webical.ApplicationSettings">
		<property name="customPageTitle" value="Webical Demo" />
		<property name="pluginWorkPath" value="${java.io.tmpdir}" />
		<property name="pluginPackageExtension" value=".zip" />
		<property name="pluginCleanupEnabled" value="false"/>
		<property name="configurationUsername" value="admin"/>
		<property name="configurationPassword" value="noneofyourbusiness"/>
		<property name="calendarRefreshTimeMs" value="50000"/>
	</bean>

	<!-- Add a fixed user for demo -->	
	<bean id="demoUser" class="org.webical.User">
	    <property name="userId" value="webical" />
	    <property name="firstName" value="Demo"/>
	    <property name="lastNamePrefix" value=""/>
	    <property name="lastName" value="User"/>
	    <property name="birthDate"><ref bean="birthDate" /></property>
	</bean>
	
    <!-- Birth Date for the demo user -->
    <bean id="birthDate" class="java.util.Date">
		<constructor-arg><value>January 25, 2008, 00:00:00 GMT</value></constructor-arg>
		<!-- <constructor-arg><value type="long">60242569200000</value></constructor-arg> -->
	</bean>
	
	<!-- A test calendar for demo user -->
	<bean id="calendar_demoUser" class="org.webical.Calendar">
		<property name="name" value="Webical Demo Calendar"/>
		<property name="type" value="ical-webdav"/>
		<property name="url" value="http://demo.webical.org/dav/webicaldemo.ics"/>
		<property name="visible" value="true"/>
		<property name="user"><ref bean="demoUser"/></property>
	</bean>
	
	<!-- Settings for the fixed user -->
	<bean id="userSettings_demoUser" class="org.webical.UserSettings">
		<property name="defaultCalendarView" value="1" />
		<property name="firstDayOfWeek" value="2"/>
		<property name="numberOfAgendaDays" value="4"/>
		<property name="dateFormat" value="dd/MM/yyyy"/>
		<property name="timeFormat" value="HH:mm"/>
		<property name="user"><ref bean="demoUser"/></property>
	</bean>
    
</beans>