@charset "UTF-8";

/* IE 7 Stylesheet */

/*  -------- Selectors in alphabetical order!  ------- */

/* Calendar Views Tabs */

#calendarViewPanel,
#settingsPanel{  
	top: 32px;
}

/* Month view */

#calendarViewPanel .eventsInMonth, #calendarViewPanel .eventsInList {
  height: 87%;
	position: absolute;
 	width: 13.9%;
}

#calendarViewPanel .eventsInMonth{
	 height: 10.9em;
}

/* Form styles */

.button,
.submitButton{
	padding: 0 .5em;
}

#datePickerForm #datePickerFormElements .inputButton {
	line-height: 115%;
}

/* Date Switcher Panel */

#previousLink, #nextLink {
  margin-top: -2px;
}
