@charset "UTF-8";

/* Safari Stylesheet */

/*  -------- Selectors in alphabetical order!  ------- */

/* Month view */

#calendarViewPanel .eventsInMonth, #calendarViewPanel .eventsInList {
	height: 85%;
	position: absolute;
 	width: 14%;
}

#weekView td.weekColumn, #weekView td.todayColumn {
 	height: 100%;
}

#calendarViewPanel .eventsInMonth{
	height: 11em;
}
