<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 
		The WebApplication bean, injected into the wicket servlet 
	-->
	<bean id="wicketApplication" class="org.webical.web.app.WebicalWebApplication">
		<property name="pluginSystemInitializer"><ref bean="pluginSystemInitializer" /></property>
		<property name="encryptionManager"><ref bean="encryptionManager"/></property>
		<!-- Enable auto initialization of the system on first request (only if configuration is complete) -->
		<property name="autoInitialize"><value>false</value></property>
	</bean>
	
	<!-- 
		Plugin system
	-->
	
	<!-- The Plugin intializer -->
	<bean id="pluginSystemInitializer" class="org.webical.plugin.registration.PluginSystemInitializer">
		<property name="pluginRegistrationStore"><ref bean="wicketApplication" /></property>
		<property name="pluginManifestReader"><ref bean="pluginManifestReader" /></property>
		<property name="daoFactory"><ref bean="daoFactory" /></property>
		<!-- replaced by maven when building -->
		<property name="webicalVersion"><value>0.4-SNAPSHOT</value></property>
	</bean>
		 
	<!-- The manifest reader -->
	<bean id="pluginManifestReader" class="org.webical.plugin.xml.PluginManifestReader"/>
	
	<!-- Cleans up the working directories on context stop (uncomment to cleanup on shutdown) -->
	<bean id="pluginCleanupApplicationListener" class="org.webical.plugin.file.PluginCleanupApplicationListener" />
	 
	<!-- 
		Reference tot the datasource for hibernate in the jndi context, configurable in the Context 
	-->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName"><value>java:comp/env/jdbc/calendarDataBase</value></property>
    </bean>
    
    <!-- 
    	Hibernate configuration 
    -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource"><ref bean="dataSource"/></property>
        <!-- List of mapping files, use the relative path. All mapping files must be placed in the resources folder -->
        <property name="mappingResources">
            <list>
            	<value>org/webical/TypeRegistration.hbm.xml</value>
            	<value>org/webical/User.hbm.xml</value> 
            	<value>org/webical/Calendar.hbm.xml</value> 
            	<value>org/webical/Event.hbm.xml</value> 
            	<value>org/webical/ApplicationSettings.hbm.xml</value> 
				<value>org/webical/Option.hbm.xml</value> 
            	<value>org/webical/Settings.hbm.xml</value> 
            	<value>org/webical/PluginSettings.hbm.xml</value>
            	<value>org/webical/UserPluginSettings.hbm.xml</value> 
            	<value>org/webical/UserSettings.hbm.xml</value> 
            </list>
        </property>
		
		<!-- General hibernate settings -->
        <property name="hibernateProperties">
            <props>
            	<!-- Sets the dialect for the database, change this to the appropriate dialect -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.query.substitutions">true=1 false=0</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.max_fetch_depth">1</prop>
                <!-- set to validate for production -->
  				<prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
            </props>
        </property>
    </bean>
    
    <!-- 
    	Transactionmanager setup
     -->
     <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
    
    <!-- 
    	Managers 
    -->
    
    <bean id="applicationSettingsManager" class="org.webical.manager.impl.ApplicationSettingsManagerImpl">
		<property name="applicationSettingsDao"><ref bean="applicationSettingsDao" /></property>    
    </bean>
    
    <bean id="calendarManager" class="org.webical.manager.impl.CalendarManagerImpl">
	    <property name="daoFactory"><ref bean="daoFactory"/></property>
    	<property name="calendarDao"><ref bean="calendarDao" /></property>
    </bean>
    
    <bean id="userManager" class="org.webical.manager.impl.UserManagerImpl">
    	<property name="userDao"><ref bean="userDao" /></property>
    </bean>
    
    <bean id="eventManager" class="org.webical.manager.impl.EventManagerImpl">
    	<property name="daoFactory"><ref bean="daoFactory" /></property>
    	<property name="calendarManager"><ref bean="calendarManager" /></property>
    </bean>
    
    <bean id="encryptionManager" singleton="true" class="org.webical.manager.impl.EncryptionManagerImpl">
		<property name="passphraseFile"><value>WEB-INF/pp</value></property>
		<property name="encryptingDaos">
			<list>
            	<ref bean="calendarDao" />
            </list>
		</property>
	</bean>
	
	<bean id="settingsManager" class="org.webical.manager.impl.SettingsManagerImpl">
    	<property name="settingsDao"><ref bean="settingsDao" /></property>
    </bean>

	<!-- 
		Daos
	 -->
	 
	 <bean  id="applicationSettingsDao" class="org.webical.dao.hibernateImpl.ApplicationSettingsDaoHibernateImpl" />
	 
	 <bean  id="calendarDao" class="org.webical.dao.hibernateImpl.CalendarDaoHibernateImpl" />
	 
	 <bean  id="userDao" class="org.webical.dao.hibernateImpl.UserDaoHibernateImpl" >
	 	<property name="calendarDao"><ref bean="calendarDao" /></property>
	 </bean>
	 
	 <bean id="eventDaoWebDavHibernateBufferedImpl" class="org.webical.dao.hibernateImpl.EventDaoWebDavHibernateBufferedImpl" />
	 
	 <bean id="settingsDao" class="org.webical.dao.hibernateImpl.SettingsDaoHibernateImpl" />
	 
	 <!-- 
	 	DaoFactory, can be initialized with an initial list of Dao registrations
	  -->
	  
	  <bean id="daoFactory" singleton="true" class="org.webical.dao.factory.DaoFactory">
	  	<property name="eventDaoRegistrations">
	  		<map>
	  			<entry key="ical-webdav" value-ref="eventDaoWebDavHibernateBufferedImpl" />
	  		</map>
	  	</property>
	  </bean>
	  
	<!-- 
	  	ApplicationSettingsFactory - Global configuration factory
	 -->
    <bean id="applicationSettingsFactory" class="org.webical.settings.ApplicationSettingsFactory" >
    	<property name="applicationSettingsManager"><ref bean="applicationSettingsManager" /></property>
    </bean>
    
    <!-- 
    	HibernateSessionAspect - Takes care of the Hibernate session management through the SessionFactoryUtils
     -->
    <bean id="hibernateSessionAspect" class="org.webical.aspect.dao.HibernateSessionAspect" />
    
    <!-- 
    	SessionFactoryUtils - Manages the Sessions per thread 
     -->
    <bean id="sessionFactoryUtils" class="org.webical.dao.hibernateImpl.SessionFactoryUtils">
    	<property name="sessionFactory"><ref bean="sessionFactory" /></property>
    </bean>
</beans>