<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div id="settingsPanel">
			<div id="settingsPanelContentBlock">
				<div id="userSettingsPanel" class="panelContent"> 
					<form wicket:id="userSettingsForm" id="userSettingsForm">
					
					<div wicket:id="feedbackPanel"></div>
					
					<h1><wicket:message key="personalInformationHeading" /></h1>
					<div class="formElements">
						<div class="formItem">
							<label for="firstName"><wicket:message key="firstName" /></label>
							<span class="formElement"><input id="firstName" type="text" class="inputText" wicket:id="firstName" /></span>
						</div>
						<div class="formItem">
							<label for="lastNamePrefix"><wicket:message key="lastNamePrefix" /></label>
							<span class="formElement"><input id="lastNamePrefix" type="text" class="inputText" wicket:id="lastNamePrefix" /></span>
						</div>
						<div class="formItem">
							<label for="lastName"><wicket:message key="lastName" /></label>
							<span class="formElement"><input id="lastName" type="text" class="inputText" wicket:id="lastName" /></span>
						</div>
						<div class="formItem">
							<label for="birthDate"><wicket:message key="birthDate" /></label>
							<span class="formElement"><input id="birthDate" type="text" class="inputText" wicket:id="birthDate" /></span>
							<span class="formElementHelp"><wicket:message key="birthDate.help" /><span wicket:id="birthDateFormatLabel">dd/mm/yyyy</span></span>
						</div>
					</div>
					
					<h1><wicket:message key="calendarSettingsHeading" /></h1>
					
					<div class="formElements">
					
						<div class="formItem">
							<label for="firstDayOfWeek"><wicket:message key="firstDayOfWeek" /></label>
							<span class="formElement">
								<select id="firstDayOfWeek" name="firstDayOfWeek" wicket:id="firstDayOfWeek">
								</select>
							</span>
							<span class="formElementHelp"><wicket:message key="firstDayOfWeek.help" /></span>
						</div>
						
						<div class="formItem">
							<label for="defaultCalendarView"><wicket:message key="defaultCalendarView" /></label>
							<span class="formElement">
								<select id="defaultCalendarView" name="defaultCalendarView" wicket:id="defaultCalendarView">
								</select>
							</span>
							<span class="formElementHelp"><wicket:message key="defaultCalendarView.help" /></span>
						</div>
						
						<div class="formItem">
							<label for="numberOfAgendaDays"><wicket:message key="numberOfAgendaDays" /></label>
							<span class="formElement">
								<select id="numberOfDays" name="numberOfDays" wicket:id="numberOfAgendaDays" />
							</span>
							<span class="formElementHelp"><wicket:message key="numberOfAgendaDays.help" /></span>
						</div>
						
						<div class="formItem">
							<label for="dateFormat"><wicket:message key="dateFormat" /></label>
							<span class="formElement">
								<select id="dateFormat" name="dateFormat" wicket:id="dateFormat" />
							</span>
							<span class="formElementHelp"><wicket:message key="dateFormat.help" /></span>
						</div>
						
						<div class="formItem">
							<label for="timeFormat"><wicket:message key="timeFormat" /></label>
							<span class="formElement">
								<select id="timeFormat" name="timeFormat" wicket:id="timeFormat" />
							</span>
							<span class="formElementHelp"><wicket:message key="timeFormat.help" /></span>
						</div>
						
					</div>
						
					<div class="formButtons">
						<button class="button"><wicket:message key="discardButton.text">Cancel</wicket:message></button>
						<input class="button" type="submit" value="Submit" wicket:id="submitButton" />
					</div>
					
					</form>
				</div>
			</div>
		</div>
	</wicket:extend>
</body>
</html>