@charset "UTF-8";
/*
 * Main Stylesheet for Webical
 * http://www.webical.org
 */

/* ------------------------------------------------ */
/*                  Element styles                  */
/* ------------------------------------------------ */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  cursor: default;
  overflow: inherit;
  z-index: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9E9EE;
  font: 62.5% / 170% Arial, Helvetica, sans-serif;
  overflow: auto;
}

input, textarea, select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  vertical-align: middle;
}

img {
  border: 0;
}

a {
  color: #51636A;
}

a:focus, a:hover, a:active {
  color: #8EB9ED;
}

/* headings */

h1 {
  height: auto;
  margin-top: 0.6em;
  margin-bottom: 1em;
  padding: 2px;
  border-top: 0 none transparent;
  border-bottom: 1px solid #51636A;
  color: #fff;
  background: #51636A url(../img/topbar2.png) repeat-x top;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
}

.button, .datatable .button {
  width: auto;
  line-height: 160%;
  margin: .5em .5em 0 0;
  padding: .2em .5em;
  border: 1px solid #b3b3b3;
  color: #666;
  background-color: #ccc;
  font-size: 1.1em;
  vertical-align: middle;
  text-decoration: none;
  overflow: visible;
  cursor: pointer;
}

a.button {
  display: block;
  float: left;
  color: #666;
  line-height: 140%;
}

/* ------------------------------------------------ */
/*                      Panels                      */
/* ------------------------------------------------ */

#container {
  position: relative;
  min-width: 790px;
  min-height: 420px;
  height: 100%;
  font-size: 1.1em;
}

/* Settings panel */

#settingsPanel {   /* See calendarViewPanel */
  position: absolute;
  top: 39px;
  bottom: 9px;
  width: 100%;
  clear: both;
}

#settingsPanelContentBlock {   /* See calendarViewPanelContentBlock */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin-right: 6px;
  border: 1px solid #51636A;
  background: #FFF;
  overflow: auto;
}

#settingsPanel h1 {
  font-size: 1.5em; 
  border-left: 1px solid #51636A;
  border-right: 1px solid #51636A;
}

#settingsPanel .formItem {
  padding: 2px 0px;
  border-bottom: 1px none #d3d3d3;
}

#settingsPanel .formItem label {
  width: 16em;
}

/* Login panel */

#login {
  width: 27em;
  height: 16.5em;
  margin: 6em auto auto auto;
  padding: 1em 2em 2em 1em;
  border: 2px solid #99B1BA;
  background: #dae9ee;
  font-size: 1.5em;
}

#login .button {
  float: none;
  margin: 1.5em 1em 1em 10.5em;
}

#login h1 {
  margin: 1em;
  padding: 1px;
  border: 0;
  color: #1F1F1F;
  background: none;
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
}

/* Application Settings Configuration Page */

#configurationPageContentPanel {
  padding: 1em;
  background-color: #FFFFFF;
  font-size: 1.2em;
}

#configurationPageContentPanel h1 {
  width: 100%;
  margin: 1em 0em 1em 0em;
  border-left: 1px solid #51636A;
  border-right: 1px solid #51636A;
  font-size: 1.5em; 
}

#configurationPageLeftColumn {
  float: left;
  width: 51%;
}

#configurationPageRightColumn {
  float: right;
  width: 45%;
  margin-left: 1em;
}

#configurationPageContentPanel label {
  width: 30em;
}

#configurationPageLeftColumn .formControls {
  width: auto;
  text-align: right;
  vertical-align: bottom;
}

#configurationPageOptions {
  clear: both;
  width: 100%;
  padding-top: 0.1em;
  padding-bottom: 2em;
  font-size: 1.2em;
}

/* Calendar Settings Panel */

#calendarListPanel {
  padding: 0;
  list-style: none;
  list-style-position: outside;
}

#calendarListPanel li {
  padding: 5px 0;
  border-bottom: 1px solid #d3d3d3;
}

#calendarListPanel .calendarName {
  float: left;
  font-weight: bold;
}

#calendarListPanel .calendarModifyLinks {
  float: right;
}

#calendarListPanel .calendarModifyLinks a {
  margin-left: 1em;
}

#pagingNavigator {
  margin-top: .8em;
}

/* Header Panel */

#headerPanel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 27px;   /* height of topbar2.png */
  margin: 0;
  padding: 0;
  border: 0 none transparent;
  color: #fff;
  background: #E9E9EE url(../img/topbar2.png) repeat-x top;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 10;
}

#headerPanel ul {
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: outside;
  vertical-align: middle;
}

#headerPanel li {
  float: left;
  height: 22px;   /* 27px -/- margin, border, padding */
  margin: 0;
  padding: 4px 10px 0px 10px;
  border-left: 2px solid #839fb0;
}

#headerPanel li.welcome {
  border-left: 0 none transparent;
  color: #E3E7F2;
}

#headerPanel li.last {
  border-right: 2px solid #839fb0;
}

#headerPanel li a {
  color: #E3E7F2;
  text-decoration: none;
}

#headerPanel li a:hover {
  display: block;
  height: 22px;   /* like li above */
  margin: -4px -10px 0px -10px;
  padding: 4px 10px 0px 10px;
  color: #393d3e;
  background: #D5D6DB url(../img/topbar.png) repeat-x top;
}

#logoPanel {
  position: absolute;
  top: 27px;
  width: 18em;   /* size of left hand side of page */
  height: 52px;   /* height of webicallogo.gif */
  overflow: hidden;
  /*background: url(../img/webicallogo.png) no-repeat 0px -4px;*/
  z-index: 15;
}

.smallpanel {
  width: 17.3em;
  border: 1px solid #51636A;
  border-top: 0 none transparent;
  background-color: #fff;
}

.smallpanel h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #fff;
  background-color: #51636A;
  font-weight: normal;
  text-align: center;
}

.panelContent {
  padding: 15px;
}

.smallpanel .panelContent {
  padding: 5px;
}

.panelContent ul {
/*  margin-left: 15px;*/
}

#ajaxPanel {
  position: absolute;
  left: 6px;
  bottom: 10px;
  z-index: 15;
  visibility: hidden;
  display: none;
}

/* Add Event Panel */

#addEventPanel {
  position: absolute;
  top: 66px;
  left: -14.5em;
  width: 14em;
  font-size: 1.2em;
  font-weight: bold;
}

#addEventPanel a {
  margin-left: 10px;
  text-decoration: none;
}

#addEventPanel a:hover {
  text-decoration: underline;
}

/* Date Picker Panel */

#datePickerPanel {
  position: absolute;
  width: 17.3em;
  top: 93px;
  left: -18em;
  margin-left: 3px;
  border: 1px solid #51636A;
  border-top: 0 none transparent;
  /* border-right: 1px solid #B3B3B3; */
  background-color: #fff;
  z-index: 15;
}

#datePickerCalendar h1 {
  margin-top: 0;
  margin-bottom: 1px;
  color: #fff;
  background: #51636A url(../img/topbar2.png) repeat-x top;
  font-weight: normal;
  text-align: center;
}

#datePickerCalendar #datePickerCalendarTable {
  table-layout: fixed;
  width: 100%;
  padding: 0;
  border-spacing: 0;
  overflow: hidden;
}

#datePickerCalendar #datePickerCalendarTable th {
  padding: 0;
  border-bottom: 1px solid #DEDEDE;
  background-color: #EEEEEE;
  text-align: center;
}

#datePickerCalendar #datePickerCalendarTable td {
  padding: 0;
  text-align: center;
}

#datePickerCalendar #datePickerCalendarTable td.datePickerWeekNumber {
	border-right: 1px solid #DEDEDE;
	background-color: #EEEEEE;
}

#datePickerCalendar #datePickerCalendarTable td.inRange {
  background: #C5D7ED;
}

#datePickerCalendar #datePickerCalendarTable td.calendarTodayItem {
  border: 1px solid #F90;
  background: #FFFFBA;
}

#datePickerCalendar #datePickerCalendarTable td a {
  text-decoration: none;
}

#datePickerCalendar .otherMonth {
  color: #bbb;
}

#datePickerPanel #datePickerForm {
  border-top: 1px solid #51636A;
}

#datePickerForm #datePickerFormElements {
  padding: 6px 2px;
}

#datePickerForm #datePickerFormElements .inputText {
  min-width: 4.8em;
  max-width: 6.9em;
}

#datePickerForm #datePickerFormElements .inputButton {
  margin: 1px;
  padding: 1px;
  min-width: 4.8em;
  max-width: 8.7em;
  font-size: 1.0em;
}

#formFeedback {
  color: red;
  margin-left: 15px;
}

/* Calendar Event Panel */

.datatable {
  width: 100%;
  height: 100%;
  padding: 0;
  table-layout: auto;
  border-spacing: 0;
  overflow: hidden;
}

.datatable .label {
  width: 16em;
  margin-right: 1em;
  padding: 2px;
  font-size: 1.2em;
  text-align: left;
}

.datatable .value {
  font-size: 1.2em;
  text-align: left;
}

/* Calendar Panel */

#calendarPanel {
  position: absolute;
  top: 300px;
  left: -18em;
  margin-left: 3px;
  z-index: 15;
}

#calendarPanel ul, #calendarPanel li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: outside;
}

#calendarPanel li {
  position: relative;
  height: 1%;
}

#calendarPanel ul li img {
  position: absolute;
  left: 0;
  top: -1px;
}

#calendarPanel ul li a img {
  border-bottom: 2px solid #fff;
}

#calendarPanel ul li a:hover img {
  border-bottom: 2px solid #51636A;
}

#calendarPanel ul li a {
  display: block;
  padding-left: 20px;
  text-decoration: none;
}

#calendarPanel ul li a:hover {
  text-decoration: underline;
}

#addCalendarLink {
  display: block;
  line-height: 180%;
  margin: 5px 0;
  padding-left: 15px;
  background: url("../img/icoPlus.gif") no-repeat 0 .6em;
  font-weight: bold;
}

#calendarPanel #addCalendarLink {
  /*float: right;*/
  margin-left: 8px;
}

/* Date Switcher Panel */

#dateSwitcher {
  position: absolute;
  left: 2em;
  padding: 1px;
  list-style: none;
  list-style-position: outside;
}

#dateSwitcher li {
  display: block;
  float: left;
  height: 100%;
  padding-top: 6px;
  margin-right: .5em;
  vertical-align: middle;
}

#previousLink, #nextLink {
  display: block;
  width: 20px;   /* size of gifs */
  height: 20px;
  text-decoration: none;
}

#previousLink {
  background: url("../img/icoPrev.gif") no-repeat;
}

#nextLink {
  background: url("../img/icoNext.gif") no-repeat;
}

#previousLink span, #nextLink span {
  line-height: 1px;
  visibility: hidden;
}

#dateSwitcher li #todayButton {
  display: inline;
  float: none;
  line-height: 160%;
}

#dateSwitcher #rangeLabel {
  font-size: 1.1em;
  font-weight: bold;
  vertical-align: middle;
}

#contentPanelArea {
  /*background: #9cc url(../img/contentpanelareabg.gif) repeat-x;*/
  /*background: #E9E9EE url(../img/webicallogo.png) no-repeat 6px -8px;*/
  /*border: 1px solid #51636A;
   border-width: 1px 0;*/
  position: absolute;
  top: 27px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #E9E9EE;
}

#contentPanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 18em;
  height: 100%;
}

/* Calendar Views Tabs */

.tab-row {
  position: absolute;
  top: 0px;
  right: 2em;
  height: 39px;   /* calendarViewPanel starts at 39px */
  margin: 0;
  padding: 0;
  border: 0px none transparent;
  vertical-align: bottom;
  z-index: 25;
}

.tab-row ul {
  height: 17px;
  margin: 11px 0 11px 0;
  padding: 0;
  list-style: none;
  list-style-position: outside;
}

.tab-row li {
  margin: 0 6px 0 0;
  padding: 0;
  float: left;
}

.tab-row li a {
  display: block;
  min-width: 6em;
  height: 17px;
  margin: 0 3px 0 3px;
  padding: 5px 3px 5px 3px;
  border: 1px solid #829DAD;
  border-bottom: 0px none transparent;
  color: #666;
  background-color: #D5D6DB;
  text-decoration: none;
}

.tab-row li a span {
  display: block;
  text-align: center;
  cursor: pointer;
}

.tab-row li a:hover {
  background: #fff;
}

.tab-row li.selected a {
  border: 1px solid #51636A;
  border-bottom: 2px solid transparent;
  background: #fff;
  font-weight: bold;
  cursor: default;
}

.tab-row li.selected a span {
  cursor: default;
}

#calendarViewPanel {
  position: absolute;
  top: 39px;
  bottom: 9px;
  width: 100%;
  clear: both;
  z-index: 20;
}

#calendarViewPanel li.today {
  background: #ececd3;
}

#calendarViewPanel li.dayItem {
  padding: 1em .5em;
  border-bottom: 1px solid #FFF;
}

#calendarViewPanel li.dayItem a {
  font-weight: bold;
  line-height: 180%;
}

#calendarViewPanel li.dayItem li a {
  font-weight: normal;
  line-height: normal;
}

#calendarViewPanelContentBlock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin-right: 6px;
  border: 1px solid #51636A;
  background: #FFF;
  overflow: auto;
}

#calendarViewPanelContent, #calendarViewPanelContentNoMargin {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#calendarViewPanelContent h1 {
  display: none;
}

/* Day view */

#dayViewPanelContent {
  padding: 1em;
}

#dayViewPanelContent h1 {
  font-size: 1.5em; 
  border-left: 1px solid #51636A;
  border-right: 1px solid #51636A;
}

#dayViewPanelContent ul {
  padding: 1px 0px 1px 0px;
  margin: 3px 0px 0px 0px;
  border-top: 1px solid #d3d3d3;
  list-style: none;
  list-style-position: outside;
  overflow: hidden;
}

#dayViewPanelContent li {
  padding: 1px 0px 1px 0px;
  margin: 2px 0px 2px 0px;
  border-bottom: 1px solid #d3d3d3;
  white-space: nowrap;
}

/* Week view, Agenda view */

#weekView {
  width: 100%;
  height: 100%;
  padding: 0;
  border-spacing: 0;
  table-layout: fixed;
  overflow: hidden;
}

#weekView thead {
  height: 2.7%;
  padding: 3px 0px;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
}

#weekView th.first {
  width: 2%;
}

#weekView tbody {
  height: 97%;
  margin: 0;
  padding: 0;
}

.weekRow {
  width: 100%;
  vertical-align: top;
}

#weekView td.weekColumn, #weekView td.nonWeekColumn {
  padding: 0;
  border-top: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
}

#weekView .weekPanel .weekTop {
  position: relative;
  padding: 1px 0;
  background-color: #D7DDF1;
  border-bottom: 1px solid #C4DCDC;
  text-align: right;
}

#weekView .todayColumn .weekPanel .weekTop {
  background-color: #51636A;
}

#weekView .todayColumn .weekPanel .weekTop a {
  color: #fff;
}

#weekView .weekPanel .weekTop a.dayLink {
  margin-right: 1.8em;
  text-decoration: none;
}

#weekView .firstItem {
}

#weekView .lastItem {
  border-right: 0px;
}

.weekTop .addEventLink {
  position: absolute;
  top: .42em;
  right: 0;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  padding: 0;
  background-position: 0 0;
}

/* Month view */

#monthView {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  border-spacing: 0;
  overflow: hidden;
}

#monthView thead {
  height: 2.7%;
  padding: 3px 0px;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
}

#monthView th.first {
  width: 1.8%;
}

#monthView tbody {
  height: 97%;
  margin: 0;
  padding: 0;
}

.monthList {
  height: 16.6%;
  min-height: 16.6%;
  max-height: 20%;
}

#monthView td {
  padding: 0;
}

#monthView .addEventLink {
  position: static;
  float: right;
  top: .42em;
  right: 0;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  margin-top: .27em;
  padding: 0;
  background-position: 0 0;
}

#monthView .todayItemMonth .monthTop {
  background-color: #85A0B2;
}

#monthView .todayItemMonth .monthTop a {
  color: #fff;
}

.monthTop {
  background-color: #D7DDF1;
  border-top: 1px solid #B3B3B3;
  border-bottom: 1px solid #C4DCDC;
  text-align: right;
  padding-right: 2px;
}

.monthTop a.dayLink{
  float: right;
  margin-right: 3px;
}

.monthTop a {
  text-decoration: none;
}

.monthTop a:hover {
  text-decoration: underline;
}

.dayItemMonth {
  width: 14.25%;
  border: 0px;
  border-right: 1px solid #B3B3B3;
  vertical-align: top;
  overflow: hidden;
}

/* Misc. calendar view styles */

.todayColumn, .todayItemMonth {
  background-color: #FFFFBA;
}

.allDay {
  background-color: #C5D7ED;
}

.weekHeader {
  width: auto;
  padding: 2px;
  border: 1px solid #DEDEDE;
  color: #BBBBBB;
  background-color: #EEEEEE;
  font-size: 0.90em;
  text-align: center;
  vertical-align: top;
}

.addEventLink {
  display: block;
  float: left;
  vertical-align: middle;
  margin: 0.5em 0 0.5em;
  padding-left: 1.2em;
  background: url("../img/icoPlus.gif") no-repeat 0 .6em;
  font-weight: bold;
  line-height: 180%;
  z-index: 15;
}

.addEventLink span {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}

.calendarTopHeaders {
  width: 100%;
  vertical-align: middle;
}

.eventsInList {
  height: 92%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: outside;
  overflow: hidden;
}

.eventItem {
  padding: 2px;
  margin: 1px;
  text-decoration: none;
  white-space: nowrap;
}

.eventItem a {
  text-decoration: none;
}

/* Form styles */

.formItem {
  /* width: 100%; */
  margin-bottom: .3em;
  vertical-align: middle;
  clear: both;
  overflow: hidden;
}

.formItem label {
  display: block;
  float: left;
  margin-right: 1em;
  padding: 2px;
  font-size: 1.2em;
  text-align: left;
}

.formElementHelp {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.inputText, .inputPassword,
.formItem textarea, .formItem select {
  padding: 2px;
  min-width: 18em;
  width: 18.6em;
  border-width: 1px;
  border-style: solid;
  border-color: #376171;
}

.formItem .button {
  margin: 0px 0px 0px 0.15em;
  padding: 2px;
}

.dateField {
  min-width: 6em;
  width: 8em;
}

.timeField {
  min-width: 5em;
  width: 5em;
}

/* Progress indicator */

.wicket-ajax-indicator {
  position: fixed;
  left: 15.4em;
  top: 6em;
}

/* Misc. styles */

.valid { /*border-color: #376171;*/
}

.invalid {
  border-color: red;
}

.invisible {
  position: absolute;
  visibility: hidden;
  font-size: 1px;
  line-height: 1px;
}

.clr {
  clear: both;
  font-size: 0;
  line-height: 0px;
}

.quicknav {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}
