<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<div>
	<wicket:panel>
		<div class="monthTop">
			<a href="" wicket:id="dayLink" class="dayLink"><span wicket:id="dayLabel">0</span></a>
			<a href="" wicket:id="addEventLink" class="addEventLink"><span>+</span></a>
		</div>
		<div class="eventsInMonth">
				<div class="eventItem" wicket:id="eventItem">
					<span wicket:id="eventTime">00:00</span>
					<a href="" wicket:id="eventLink"><span wicket:id="eventTitle">event</span></a>
				</div>
		</div>	
		<span wicket:id="extensions"></span>
	</wicket:panel>
	</div>
</body>
</html>