<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div id="calendarViewPanel">
			<div id="calendarViewPanelContentBlock">
				<div id="calendarViewPanelContent">
					<h1 wicket:id="weekHeadingLabel">Week 0</h1>
					<table id="weekView" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th wicket:id="dayHeadingRepeater"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="weekRow">
								<td wicket:id="weekColumnRepeater" class="weekColumn"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</wicket:extend>
</body>
</html>