<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
<table>
	<tbody>
		<tr>
			<td>
				<wicket:panel>
					<div class="weekPanel">
						<div class="weekTop">
							<a href="" wicket:id="dayLink" class="dayLink"><span wicket:id="dayLabel">0</span></a>
							<a href="" wicket:id="addEventLink" class="addEventLink"><span>+</span></a>
						</div>
						<ul class="eventsInList">
								<li class="eventItem" wicket:id="eventItem">
									<a href="" wicket:id="eventLink">
										<span wicket:id="eventTime">00:00</span>
										<span wicket:id="eventTitle">event</span>
									</a>
								</li>
						</ul>	
					</div>
					<span wicket:id="extensions"></span>
				</wicket:panel>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>