<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
				<ul>
					<li class="eventItem" wicket:id="eventListview">
						<span class="eventDetailsLabel" wicket:id="eventDetailsLabel"></span>
						<a wicket:id="showEventDetailsLink" class="link"><span wicket:id="eventSummaryLink"></span></a>
						<wicket:panel wicket:id="popupMarkup"></wicket:panel>
						

					</li> 
				</ul>
				<wicket:fragment wicket:id="accessibleMarkup"></wicket:fragment>
				<wicket:fragment wicket:id="nonAccessibleMarkup"><div wicket:id="panelToShow">(test)</div></wicket:fragment>

	</wicket:extend>
</body>
</html>