/*.player1 { 
	height:50px;
	width:200px;
}*/
/*.player { 
	border:2px solid #bbbbbb; 
	border-color:red;
	color:#eeeeee; 
	text-align:center; 
	position: absolute; 
	width:inherit; 
	height:48px;
	margin-left:2px;
   	background-color:#7E695E;
	z-index:1;
}*/
/*.listEvents {
	width:inherit;
	height:inherit;	 
}*/
/*.handle {
    position: absolute; 
    bottom:0px; 
    right: 0px; 
    width:10px; 
    height:10px;
   	background-color:blue;
   	font-size: 1px;
	z-index:998;
}	*/    
