<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<div id="calendarViewPanel">
				<div id="calendarViewPanelContentBlock">
					<div class="panelContent">
						<div class="message-box">
				
							<p class="message" wicket:id="messageLabel" />
							<a href="" class="button" wicket:id="confirmThisLink">This instance</a>
							<a href="" class="button" wicket:id="confirmAllLink">All instances</a>
							<a href="" class="button" wicket:id="confirmFollowingLink">All following instances</a>
							<a href="" class="button" wicket:id="cancelLink">Cancel</a>
							
						</div>
					</div>
				</div>
			</div>
	</wicket:extend>
</body>
</html>