<html xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:extend>
		<ul>
			<li class="welcome"><span wicket:id="welcomeLabel">username</span></li>
			<li><a wicket:id="calendarViewsPanelLink"><wicket:message key="calendar.label">CalendarViews</wicket:message></a></li>
			<li><a wicket:id="settingsPanelLink"><wicket:message key="settings.label">Settings</wicket:message></a></li>
			<li class="last"><a wicket:id="logoutLink"><wicket:message key="logout.label">Logout</wicket:message></a></li>
		</ul>
	</wicket:extend>
</body>
</html>